body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: lightgray;
}

p {
  color: black;
  font-size: 18pt;
}

h1 {
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
}

textarea {
  background-color: #fff;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  width: 100%;
  height: 100%;
}

button {
  width: 100%;
  height: 100%;
}

.jumbotron {
  text-align: center;
  background-color: maroon;
  color: black;
  border-radius: 0;
  border-bottom: 20px double #243873;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  background-color: transparent;
}
