body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: lightgray;
}

p {
  color: black;
  font-size: 18pt;
}

h1 {
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
}

textarea {
  background-color: beige;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  width: 100%;
  height: 100%;
}

button {
  width: 100%;
  height: 100%;
}

.jumbotron {
  text-align: center;
  background-color: salmon;
  color: black;
  border-radius: 0;
  border-bottom: 20px white;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  background-color: transparent;
}

.row {
  white-space: pre-wrap;
  border-radius: 15px;
  background-color: rgb(250, 249, 244);
  margin: 5px;
}

.hour {
  background-color: transparent;
  color: #000000;
}

.past {
  background-color: lightgray;
  color: #243873;
}

.present {
  background-color: lightsteelblue;
  color: #243873;
}
.future {
  background-color: lightgreen;
  color: #243873;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: lightgray;
  color: white;
}

.saveBtn i:hover {
  font-size: 18px;
  color: lightgray;
  transition: all 0.2s ease-in-out;
}

#currentDay {
  font-weight: bold;
}

#tagline {
  font-style: italic;
}
